.nf-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;

  padding: 0 20px;
  border: 1px solid transparent;
  box-shadow: none;
  background: $default;

  font-size: 13px;
  color: #ffffff;
  text-decoration: none;

  transition: all .3s ease-out;
  cursor: pointer;

  &:hover {
    color: #fff;
    text-decoration: none;
    background: lighten($default, 5%);
  }

  &:focus {
    outline: none;
    background: darken($default, 10%);
  }

  &_white {
    color: $text;
    background: #fff;
    border: 1px solid $grey;

    &:hover {
      color: $text;
      background: #ffffff;
      border-color: lighten($default, 5%);
    }

    &:focus {
      background: #ffffff;
    }
  }

  &_grey {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    background: #F3F3F3;
    border: 1px solid $grey;

    color: $text;

    &:hover {
      color: $text;
      background: #FAFAFA;
    }

    &:focus {
      background: #E6E6E6;
    }
  }

  &_small {
    height: 32px;
  }
}