.nf-form-group {
  display: block;
  width: 100%;
  margin: 0;

  &__field {
    display: block;
    width: 100%;
    height: 32px;

    background: #fff;
    border: 1px solid $grey;
    padding: 0 10px;
    margin: 0;

    font-size: 13px;
    color: $text;

    transition: all .3s ease-out;

    &_disabled {
      background: #F7F7F7;
      border-color: $grey;
      color: rgba(0, 0, 0, .5);
    }

    &_search {
      padding-left: 33px;
      background: url("../img/icons/search.svg") no-repeat 10px center;

      .nf-modal & {
        max-width: 270px;
      }
    }

    &_sm {
      max-width: 40px;
    }

    &_md {
      max-width: 110px;
    }
  }

  &__area {
    display: block;
    width: 100%;
    min-height: 100px;
    padding: 12px;

    font-size: 13px;
    line-height: 18px;
    color: $text;

    resize: none;
    transition: all .3s ease-out;
  }

  &__caption {
    display: block;
    margin-bottom: 8px;

    font-size: 13px;
    color: $text;
    text-align: left;
  }
  
  &__tag {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 32px;
    padding: 0 14px;
    background: #EAF1F8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 12px 0 0;

    font-size: 13px;
    color: #000000;
    text-align: left;
    cursor: pointer;
    transition: all .3s ease-out;

    &:hover {
      color: #000000;
      text-decoration: none;
      background: darken(#EAF1F8, 5%);
    }

    & + .nf-form-group__tag {
      margin-left: 20px;
    }

    .nf-icon {
      font-size: inherit;
      line-height: inherit;
      margin-left: 9px;

      svg {
        width: 8px;
        height: 8px;
      }
    }
  }

  &__select {
    display: block;
    width: 100%;
    height: 32px;
    background: #fff url("../img/icons/arrow_down.svg") no-repeat right 14px center;
    border: 1px solid #ccc;
    padding: 0 33px 0 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    font-size: 13px;
    color: #000000;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    cursor: pointer;

    .nf-modal & {
      max-width: 250px;
    }
  }

  &__text {
    margin: 0 6px;
  }
}