.nf-modal {
  padding: 0;
  border: 1px solid #DEDEDE;
  color: #000000;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 15px;
    border-bottom: 1px solid #DEDEDE;
  }

  &__title {
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    margin: 0;
  }

  &__close {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0;
    line-height: 0;

    &:before {
      display: none;
    }
  }

  &__body {
    padding: 28px 24px 40px;
  }

  &__footer {
    border-top: 1px solid #DEDEDE;
    padding: 16px 24px;
  }
}

.nf-modal-block {
  &__title {
    margin-bottom: 14px;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
  }
}

.nf-modal-row {
  margin-bottom: 28px;

  &__caption {
    margin-bottom: 12px;
    text-align: left;
  }

  &__hidden {
    display: none;
    padding-top: 15px;

    .row + .row {
      margin-top: 28px;
    }
  }
}