.nf-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;

  &__field {
    display: none;

    &:checked {
      & + .nf-radio__box {
        background: $default;
        border-color: $default;

        &:before {
          opacity: 1;
        }
      }
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15px;
    height: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 12px;
    font-size: 0;
    line-height: 0;
    transition: all .3s ease-out;

    &:before {
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      background: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      transition: all .3s ease-out;
      opacity: 0;
    }
  }

  .nf-modal & {
    margin-bottom: 8px;
  }
}

.nf-checkbox {
  @extend .nf-radio;
  margin-bottom: 8px;

  &__field {
    display: none;

    &:checked {
      & + .nf-checkbox__box {
        background: $default;
        border-color: $default;

        &:before {
          opacity: 1;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    margin-right: 12px;
    font-size: 0;
    line-height: 0;
    transition: all .3s ease-out;

    &:before {
      content: '';
      display: block;
      width: 7px;
      height: 5px;
      margin-top: -2px;
      border-width: 0 0 2px 2px;
      border-style: solid;
      border-color: transparent transparent #ffffff #ffffff;
      transition: all .3s ease-out;
      opacity: 0;
    }
  }

  &__tooltip {
    position: relative;
    font-size: 0;
    line-height: 0;
    margin-left: 7px;

    &:before {
      content: attr(data-tooltip);
      position: absolute;
      left: calc(100% + 5px);
      top: 50%;
      display: block;
      padding: 4px 10px;
      background: #fff;
      border: 1px solid #ccc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      font-size: 12px;
      line-height: 1.42;

      opacity: 0;
      visibility: hidden;
      transform: translate(-10px, -50%);
      transition: all .3s ease-out;
      z-index: 10;
    }

    &:hover {
      &:before {
        opacity: 1;
        visibility: visible;
        transform: translate(0, -50%);
      }
    }
  }
}

.nf-switch {
  @extend .nf-radio;

  &__field {
    display: none;

    &:checked {
      & + .nf-switch__box {
        background: $default;
        justify-content: flex-end;

        &:before {
          left: calc(100% - 11px - 2px);
        }
      }
    }
  }

  &__box {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 30px;
    height: 15px;
    border: none;
    background: #8D8D8D;
    margin-right: 12px;
    font-size: 0;
    line-height: 0;
    transition: all .3s ease-out;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: auto;
      width: 11px;
      height: 11px;
      background: #fff;
      transition: all .3s ease-out;
    }
  }

  &__caption {
    display: block;
    min-width: 125px;
  }

  &__link {
    display: block;
    margin-left: 14px;
    color: $default;
    border-bottom: 1px dotted $default;

    &:hover {
      color: $default;
      border-bottom-color: transparent;
    }
  }
}