/*----
Modals
 ----*/
.remodal-overlay {
  background: rgba(0, 0, 0, 0.9) !important
}

.remodal-close {
  width: initial !important;
  height: initial !important;
  top: -20px !important;
  right: -45px !important;
  left: initial !important;
  color: #fff !important;
  font-size: 54px !important;
  font-family: 'Futura Light', sans-serif
}

.remodal-close:before {
  display: none !important
}

.remodal-close svg {
  width: 26px;
  height: 26px
}

.modal {
  margin: 20px 0;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(218, 218, 218, 0.5);
  box-shadow: 0 0 9px 0 rgba(218, 218, 218, 0.5);
  padding: 28px 41px !important;
  max-width: 838px !important;
  text-align: left
}

.modal__title {
  font-size: 36px;
  line-height: 44px;
  color: #2b323a;
  font-family: 'Futura', sans-serif;
  margin: 0 0 28px
}

.modal__note {
  font-size: 18px;
  line-height: 23px;
  margin: -18px 0 28px
}

.modal__end {
  padding: 28px 0 0;
  margin: 0 auto;
  display: table
}

.modal__end .button {
  display: block;
  text-align: center;
  min-width: 206px
}

.modal__content.content--margin {
  margin: 0 -35px;
  padding: 28px 35px 0;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee
}

.modal__content .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.modal__content .columns__column {
  width: 30%
}

.modal__content .columns__column--title {
  font-size: 18px;
  line-height: 23px
}

.modal__content .spoiler {
  font-size: 18px;
  line-height: 23px
}

.modal__content .spoiler__field {
  margin: 0 0 20px
}

.modal__content .spoiler__field--text {
  display: none;
  padding: 10px 0 0
}

.modal__content .spoiler__field.field--active .spoiler__field--title a {
  border: 0
}

.example__title {
  font-size: 18px;
  line-height: 23px
}

/*----
Range slider styles
 ----*/
.nf-range {
  position: relative;
  line-height: 1.42;
  margin: 15px 0;
}

.nf-range__settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  font-size: 15px;
  color: #8b8b8b;
}

.nf-range__value {
  margin-bottom: 15px;
  font-size: 24px;
  color: #2b323a;
}

.nf-range__slider {
  height: 4px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  background: #F1F1F1;
  box-shadow: none;
  cursor: pointer;

  .noUi-connects {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .noUi-connect {
    background: #4487FF;
  }

  .noUi-handle {
    width: 13px;
    height: 13px;
    top: -5px;
    right: -8px !important;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: none;
    border: none;
    background: #4487FF;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:before,
    &:after {
      display: none;
    }
  }
}