/*----
Colors
 ----*/
$default: #207EFF;
$error: #FF2F00;
$text: #000;
$dark-grey: #8D8D8D;
$grey: #CCCCCC;

/*----
Grid variables
 ----*/
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1310px
);